<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%= config[:language] %>" lang="<%= config[:language] %>">
  <head>
    <meta charset="utf-8" />
    <title><%= resource.title || resource.basename %></title>
    <% if config.style %>
      <link rel="stylesheet" type="text/css" href="<%= config.style.relative_path_from(resource.dirname) %>" />
    <% end %>
  </head>
  <body epub:type="bodymatter">
    <%= body %>
  </body>
</html>
